// Colors
$color_white: #ffffff;

$color_athens_grey: #f2f4f6;

$color_gallery: #eeeeee;

$color_athens_grey_background: #e8eaed;

$color_alto: #dedede;

$color_iron: #cfd4d9;

$color_silver: #cccccc;

$color_dove_gray: #666666;

$color_denim_light: #3599D3;

$color_mine_shaft: #333333;

$color_outer_space: #2b2d2e;

$color_denim: #1288cc;

$color_lochmara: #0088cc;

$color_bahama_blue: #006596;

$color_pomegranate: #f21616;

$color_cinnabar: #f44336;

$color_brand: #cc0000;

$color_yellow: #ffD073;

$color_black: #000000;
